@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #df7861 0%, #afbeff 48%, #6e8cff 100%);
}
body::after {
  background: linear-gradient(0deg, #152a38 0%, #29435c 40%, #152038 91%);
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
body.dark-mode::after {
  opacity: 1;
}

.wrapper {
  width: 25rem;
  border-radius: 0.4rem;
  background: #d6d9da;
  box-shadow: 0px 0px 10px #0003;
  transition: background-color 0.3s ease-in-out;
}
.wrapper header {
  color: #708DFF;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-block-end: 1px solid #dadef0;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.wrapper header i {
  cursor: pointer;
  font-size: 0rem;
  transition: color 0.3s ease-in-out;
}
.wrapper.active header i {
  font-size: 1.2rem;
}
.wrapper.active header i::before {
  padding: 1rem 0.6rem;
}
.wrapper.active .input {
  display: none;
}
.wrapper.active .weather-sect {
  display: flex;
}
.wrapper.active .weather-sect img {
  max-width: 8rem;
}
.wrapper.active .weather-sect .temp {
  display: flex;
  font-size: 4.5rem;
  font-weight: 600;
  color: #333;
  transition: color 0.3s ease-in-out;
}
.wrapper.active .weather-sect .temp .numb {
  font-weight: 600;
}
.wrapper.active .weather-sect .temp .deg {
  font-size: 2.5rem;
  margin: 0.6rem 0.3rem 0 0;
  display: block;
}
.wrapper.active .weather-sect .weather {
  color: #333;
  transition: color 0.3s ease-in-out;
}
.wrapper.active .weather-sect .location {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-block-end: 1.9rem;
  color: #333;
  transition: color 0.3s ease-in-out;
}
.wrapper.active .weather-sect .location i {
  font-size: 1.4rem;
  margin-inline-end: 0.3rem;
}
.wrapper.active .weather-sect .bottom-details {
  width: 100%;
  border-block-start: 1px solid #dadef0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.wrapper.active .weather-sect .bottom-details .column {
  width: 100%;
  padding-block: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper.active .weather-sect .bottom-details .column i {
  color: #708DFF;
  font-size: 2.5rem;
  padding-inline-end: 0.5rem;
}
.wrapper.active .weather-sect .bottom-details .column.humidity {
  border-inline-start: 1px solid #dadef0;
  transition: border 0.3s ease-in-out;
}
.wrapper.active .weather-sect .bottom-details .column.humidity span {
  font-size: 1.2rem;
  font-weight: 600;
  margin-block-start: -0.2rem;
}
.wrapper.active .weather-sect .bottom-details .column .details .temp {
  font-size: 1.2rem;
  font-weight: 600;
  margin-block-start: -0.2rem;
}
.wrapper.active .weather-sect .bottom-details .column .details .temp .deg {
  margin: 0;
  font-size: 1.1rem;
  padding: 0 2px 0 1px;
}
.wrapper.active .weather-sect .bottom-details .column .details p {
  font-size: 0.9rem;
  margin-block-start: -0.3rem;
}
.wrapper .input {
  margin: 1.2rem 1.5rem 1.9rem;
}
.wrapper .input .info-txt {
  display: none;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.7rem 0.6rem;
  border-radius: 0.4rem;
  margin-block-end: 0.9rem;
}
.wrapper .input .info-txt.error {
  display: block;
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #dadef0;
}
.wrapper .input .info-txt.pending {
  display: block;
  color: #0c5460;
  background: #d1ecf1;
  border: 1px solid #bee5eb;
}
.wrapper .input :where(input, button) {
  width: 100%;
  height: 3.4rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  border-radius: 0.4rem;
}
.wrapper .input input {
  text-align: center;
  border: 1px solid #dadef0;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.wrapper .input input:is(:focus, :valid) {
  border: 2px solid #708DFF;
  transition: border 0.3s ease-in-out;
}
.wrapper .input .seperator {
  height: 1px;
  width: 100%;
  margin-block: 1.5rem;
  background: #dadef0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}
.wrapper .input .seperator::before {
  content: "or";
  color: #999;
  font-size: 1.2rem;
  padding-inline: 0.9rem;
  background: #d6d9da;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.wrapper .input button {
  color: #fff;
  cursor: pointer;
  background: #829bfb;
  background: linear-gradient(180deg, #829bfb 48%, #6e8cff 100%);
  transition: background-color 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}
.wrapper .input button:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}
.wrapper .weather-sect {
  margin: 1.9rem 0 0;
  display: none;
  align-items: center;
  flex-direction: column;
}

.theme-switch {
  position: relative;
  width: 3.6rem;
  height: 2rem;
}
.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.3s;
  border-radius: 2rem;
}
.slider::before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background: transparent url("../../icons/moon.svg") no-repeat right top;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #545454;
}
input:checked + .slider:before {
  transform: translateX(1.6rem);
}
input:focus + .slider {
  box-shadow: 0 0 3px #000;
}

.dark-mode .wrapper {
  background: #423F3E;
}
.dark-mode .wrapper header {
  color: #F6E9E9;
  border-block-end: 1px solid #333;
}
.dark-mode .wrapper .slider::before {
  background: transparent url("../../icons/sun.svg") no-repeat right top;
}
.dark-mode .wrapper .input input {
  color: #F6E9E9;
  border: 1px solid #423F3E;
  background: #272121;
}
.dark-mode .wrapper .input input:is(:focus, :valid) {
  border: 2px solid #708DFF;
}
.dark-mode .wrapper .input button {
  background: #708DFF;
}
.dark-mode .wrapper .seperator {
  background: #999;
}
.dark-mode .wrapper .seperator::before {
  color: #999;
  background: #423F3E;
}
.dark-mode .wrapper .weather-sect .temp {
  color: #F6E9E9;
}
.dark-mode .wrapper .weather-sect .location {
  color: #F6E9E9;
}
.dark-mode .wrapper .weather-sect .bottom-details {
  border-block-start: 1px solid #333;
  color: #F6E9E9;
}
.dark-mode .wrapper .weather-sect .bottom-details .column.humidity {
  border-inline-start: 1px solid #333;
}
.dark-mode .wrapper .weather-sect .weather {
  color: #F6E9E9;
}

/*# sourceMappingURL=style.css.map */
