$gradient-light: linear-gradient(180deg, rgba(223,120,97,1) 0%, rgba(175,190,255,1) 48%, rgba(110,140,255,1) 100%);
$gradient-dark: linear-gradient(0deg, rgba(21,42,56,1) 0%, rgba(41,67,92,1) 40%, rgba(21,32,56,1) 91%);

$white: #fff;
$black: #000;
$light-bg: #d6d9da;
$light-blue: #dadef0;
$light-pink: #F6E9E9;
$purp: #708DFF;
$light-gray: #999;
$off-gray: #545454;
$dark-bg: #423f3e;
$dark-txt: #333;
$dark-shadow: #0003;
$warning-txt: #721c24;
$warning-bg: #f8d7da;
$info-txt: #0c5460;
$info-bg: #d1ecf1;
$info-border: #bee5eb;
$off-black: #272121;
