@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* Made use of logical operators where possible
 * (Totally unnecessary, but good practice for me)
 */
$gradient-light: linear-gradient(180deg, rgba(223,120,97,1) 0%, rgba(175,190,255,1) 48%, rgba(110,140,255,1) 100%);
$gradient-dark: linear-gradient(0deg, rgba(21,42,56,1) 0%, rgba(41,67,92,1) 40%, rgba(21,32,56,1) 91%);

$white: #fff;
$black: #000;
$light-bg: #d6d9da;
$light-blue: #dadef0;
$light-pink: #F6E9E9;
$purp: #708DFF;
$light-gray: #999;
$off-gray: #545454;
$dark-bg: #423F3E;
$dark-txt: #333;
$dark-shadow: #0003;
$warning-txt: #721c24;
$warning-bg: #f8d7da;
$info-txt: #0c5460;
$info-bg: #d1ecf1;
$info-border: #bee5eb;
$off-black: #272121;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: $gradient-light;
  &::after {
    background: $gradient-dark;
    content: "";             
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &.dark-mode::after  {
    opacity: 1;
  }
}

.wrapper {
  width: 25rem;
  border-radius: 0.4rem;
  background: $light-bg;
  box-shadow: 0px 0px 10px $dark-shadow;
  transition: background-color 0.3s ease-in-out;
  header {
    color: $purp;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-block-end: 1px solid $light-blue;
    transition:
      color 0.3s ease-in-out,
      border 0.3s ease-in-out;
    i {
      cursor: pointer;
      font-size: 0rem;
      transition:
        color 0.3s ease-in-out;
    }
  }
  &.active {
    header i {
      font-size: 1.2rem;
      &::before {
        padding: 1rem 0.6rem;
      }
    }
    .input {
      display: none;
    }
    .weather-sect {
      display: flex;
      img {
        max-width: 8rem; 
      }
      .temp {
        display: flex;
        font-size: 4.5rem;
        font-weight: 600;
        color: $dark-txt;
        transition: color 0.3s ease-in-out;
        .numb {
          font-weight: 600;
        }
        .deg {
          font-size: 2.5rem;
          margin: 0.6rem 0.3rem 0 0;
          display:block;
        }
      }
      .weather {
        color: $dark-txt;
        transition: color 0.3s ease-in-out;
      }
      .location {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        margin-block-end: 1.9rem;
        color: $dark-txt;
        transition: color 0.3s ease-in-out;
        i {
          font-size: 1.4rem;
          margin-inline-end: 0.3rem;
        }
      }
      .bottom-details {
        width: 100%;
        border-block-start: 1px solid $light-blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $dark-txt;
        transition:
          color 0.3s ease-in-out,
          border 0.3s ease-in-out;
        .column {
          width: 100%;
          padding-block: 0.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            color: $purp;
            font-size: 2.5rem;
            padding-inline-end: 0.5rem;
          }
          &.humidity {
            border-inline-start: 1px solid $light-blue;
            transition: border 0.3s ease-in-out;
            span {
              font-size: 1.2rem;
              font-weight: 600;
              margin-block-start: -0.2rem;
            }
          }
          .details {
            .temp {
              font-size: 1.2rem;
              font-weight: 600;
              margin-block-start: -0.2rem;
              .deg {
                margin: 0;
                font-size: 1.1rem;
                padding: 0 2px 0 1px;
              }
            }
            p {
              font-size: 0.9rem;
              margin-block-start: -0.3rem;
            }
          }
        }
      }
    }
  }
  .input {
    margin: 1.2rem 1.5rem 1.9rem;
    .info-txt {
      display: none;
      font-size: 1.1rem;
      text-align: center;
      padding: 0.7rem 0.6rem;
      border-radius: 0.4rem;
      margin-block-end: 0.9rem;
      &.error {
        display: block;
        color: $warning-txt;
        background: $warning-bg;
        border: 1px solid $light-blue;
      }
      &.pending {
        display: block;
        color: $info-txt;
        background: $info-bg;
        border: 1px solid $info-border;
      }
    }
    :where(input, button) {
      width: 100%;
      height: 3.4rem;
      border: none;
      outline: none;
      font-size: 1.1rem;
      border-radius: 0.4rem;
    }
    input {
      text-align: center;
      border: 1px solid $light-blue;
      transition:
        color 0.3s ease-in-out,
        border 0.3s ease-in-out,
        background-color 0.3s ease-in-out;

      &:is(:focus, :valid) {
        border: 2px solid $purp;
        transition: border 0.3s ease-in-out;
      }
    }
    .seperator {
      height: 1px;
      width: 100%;
      margin-block: 1.5rem;
      background: $light-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease-in-out;
      &::before {
        content: 'or';
        color: $light-gray;
        font-size: 1.2rem;
        padding-inline: 0.9rem;
        background: $light-bg;
        transition:
          color 0.3s ease-in-out,
          background-color 0.3s ease-in-out;
      }
    }
    button {
      color: $white;
      cursor: pointer;
      background: rgb(130,155,251);
      background: linear-gradient(180deg, rgba(130,155,251,1) 48%, rgba(110,140,255,1) 100%);
      transition:
        background-color 0.3s ease-in-out,
        box-shadow 0.2s ease-in-out;
      &:hover {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
      }
    }
  }
  .weather-sect {
    margin: 1.9rem 0 0;
    display: none;
    align-items: center;
    flex-direction: column;
  }
}

.theme-switch {
  position: relative;
  width: 3.6rem;
  height: 2rem;
  input {
    display:none;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  transition: 0.3s;
  border-radius: 2rem;
  &::before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background: transparent url('../../icons/moon.svg') no-repeat right top;
    transition: 0.4s;
    border-radius: 50%;
  }
}

input {
  &:checked {
    + .slider {
      background-color: $off-gray;
      &:before {
        transform: translateX(1.6rem);
      }
    }
  }
  &:focus + .slider {
    box-shadow: 0 0 3px $black;
  }
}


.dark-mode {
  .wrapper {
    background: $dark-bg;
    header {
      color: $light-pink; 
      border-block-end: 1px solid $dark-txt;
    }
    .slider::before {
      background: transparent url('../../icons/sun.svg') no-repeat right top;
    }
    .input {
      input {
        color: $light-pink;
        border: 1px solid $dark-bg;
        background: $off-black;
        &:is(:focus, :valid) {
          border: 2px solid $purp;
        }
      }
      button {
        background: $purp;
      }
    }
    .seperator {
      background: $light-gray;
      &::before {
        color: $light-gray;
        background: $dark-bg;
      }
    }
    .weather-sect {
      .temp {
        color: $light-pink;
      }
      .location {
        color: $light-pink;
      }
      .bottom-details {
        border-block-start: 1px solid $dark-txt;
        color: $light-pink;
      }
      .weather {
        color: $light-pink;
      }
    }
    .column {
      &.humidity {
        border-inline-start: 1px solid $dark-txt;
      }
    }
  }
}